<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <section class="container">

        <form action="/form1/data" method="POST">
            <input type="hidden" name="_csrf" value="<%=csrfToken%>">
            <label> Nome:</label>
            <input type="text" name="nome">
            <label> Apelido:</label>
            <input type="text" name="apelido">
            <button>Enviar form</button>
        </form>
        token deste form: <%=csrfToken%>
    </section>

    <script src="./assets/js/bundle.js"></script>
</body>

</html>